<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="#(ctx)/static/js/bootstrap.min.js"></script>
<script src="#(ctx)/static/js/bootstrapValidator.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]>
<script src="#(ctx)/static/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<script src="#(ctx)/static/js/ie-emulation-modes-warning.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="#(ctx)/static/js/ie10-viewport-bug-workaround.js"></script>