

/*===================
1. 全局CSS
===================== */
body{
    font-size: 15px;
    line-height: 21px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    color: #1a1a1a;
    -webkit-tap-highlight-color: rgba(26,26,26,0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #333333;
}
html,
body {
    height: 100%;
}
a:focus {
    outline: 0 solid
}
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}
a:focus,
a:hover {
    color: #4a4a4a;
}
a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
input,
textarea {
    width: 100%;
    color: #2a2a2a;
    padding: 15px;
}
input {
    height: 40px;
    padding: 0 15px;
}
input:focus,
textarea:focus {
    outline: 0 none;
}





